Source: exe
Section: python
Priority: optional
Maintainer: Juan Rafael Fernández <jrfern@telefonica.net>
Build-Depends: debhelper (>= 9), dh-python, python-all-dev (>= 2.6.6~3), python-setuptools
Standards-Version: 3.9.5
Homepage: http://exeLearning.net/
#Vcs-Git: git://anonscm.debian.org/collab-maint/exe.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/exe.git;a=summary
Vcs-Browser: https://forja.cenatic.es/scm/browser.php?group_id=197
X-Python-Version: >=2.6, <=2.7

Package: exe
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-git, python-zopeinterface (>= 3.0.0-6) | python-zope.interface, python-imaging, python-chardet, python-lxml, iceweasel | x-www-browser | wwww-browser, python-feedparser
Conflicts: python2.3-exe, python2.4-exe, python2.5-exe, python-exe
Replaces: python2.3-exe, python2.4-exe, python2.5-exe, python-exe
Description: eXtremely Easy to use eLearning authoring tool, eXe
 An authoring environment to enable teachers to publish
 web content without the need to become proficient in HTML or XML markup.
 Content generated using eXe can be used by any Learning Management System.